#app {
  margin: 0 auto;
  font-weight: normal;
}

body {
  margin: 0;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
button {
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
}
