*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input,
ul,
li,
p,
span,
button {
  font-family: 'Inter';
  font-size: 15px;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

body {
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
  height: 100%;
}
// Custom scroll

/* width */

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 12px;
}

#app {
  margin: 0 auto;
  font-weight: normal;
  height: 100%;
  padding: 0;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
}
